*{
    background-image: url(blob-haikei.svg);
    font-family: Montserrat, sans-serif;
    color: #f6be00;
    text-align: center;
}

body{
    padding: 50px;
}

a:link, a:visited {
    color: #f6be00;
}

.container {
  display: flex;
/*   border:1px solid red; */
  height: 100%;
  align-items: center;
}

svg {
    display: block;
    font: 6.5em Montserrat;
    width: 600px;
    height: 250px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #7a706c;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #f6be00;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #b8c1c2;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #d8d8d8;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #f0f3f2;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

h6 {
    text-align: left;
}

h5 {
    text-align: left;
}

.rectangulo1 {
    width: 50%; 
    height: 5px;
    background: red;
}

.rectangulo2 {
    width: 3%; 
    height: 5px; 
    background: red;
}

.rectangulo3 {
    width: 80%; 
    height: 5px; 
    background: red;
}

.rectangulo4 {
    width: 1%; 
    height: 5px; 
    background: red;
}

img {
    width: 40%;
    height: 40%;
    border-radius: 50%;
}

h3{
    text-align: center;
}

p{
    font-size: large;
}

